#title{
    background: #FDE9D9;
    color: #C00000;
}
#panelbodyHome {
    background: #FCD5B4;
}

#panelmenu li.opchome a{
    background: #FF9981;
    color: #FFF;
}


/***************************************************/
/* openproject
/***************************************************/

#openproject {
    overflow: auto;
}

#openproject h3 {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

#openproject p, #openproject #participants {
    border-radius: 3px;
    border: 1px solid #FF9981;   
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 2px #FCD5B4 inset;
    color: #313131; 
    margin: 10px 20px 30px 0 ;
    padding: 5px;    
    vertical-align: middle;    
}

#description_grup br {
    margin: 3px; 
}

#description_grup span {
    margin-right: 5px; 
    font-weight: bold;
}

#openproject #participants_pnl {
    float: left;
    width: 600px;   
}

#openproject #participants ul li {
    list-style-type: circle;
    margin: 2px 15px;
}

#openproject #participants_content {
    border: none;
}

#openproject #actualIteration {
    float: right;
    width: 200px;
}

#openproject #actualIteration p {
    font-size: 20pt;
    text-align: center; 
}

#openproject #description {
    clear: both;
    display: block;
}


/***************************************************/
/* estilos formularios especificos
/***************************************************/

input, textarea {
    margin: 5px 10px;
    width: 200px;
    vertical-align: middle;     
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #FF9981;   
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 2px #FCD5B4 inset;
    color: #313131;    
}

input.hasDatepicker {
    border: 1px solid #FF9981;   
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 2px #FCD5B4 inset;
    color: #313131;  
}



/***************************************************/
/* projectConfig
/***************************************************/


#confproject table{
    overflow: auto;
    margin: 0 auto;
}

#confproject .ui-selectonemenu{
    margin-left: 10px;
}

/***************************************************/
/* createproject
/***************************************************/


#createproject {
    overflow: auto;
    margin: 0 auto;
    width: 500px;
}

/***************************************************/
/* projectCalendar
/***************************************************/

#infoCalendar{
    overflow: auto;
    margin-top: 25px;
}

#infoCalendar p.CalendarFrom{
    float: left;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 180px;
}

#infoCalendar p.CalendarTo{
    float: left;
    margin-right: 60px;
    font-size: 16px;
}

#infoCalendar p.CalendarFrom span, #infoCalendar p.CalendarTo span{
    margin-right: 2px;
    font-weight: bold;
}

#infoCalendar p.workingDays{
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-left: 118px;
    overflow: auto;
    width: 297px;
}

#infoCalendar p.totalDays{
    border: 1px solid #FCD5B4;
    color: #404040;
    float: right;
    font-size: 21px;
    margin-right: 235px;
    padding: 2px 8px;
    margin-bottom: 0px
}

#formCalendar div.ui-datepicker{
    width: 400px;
}

#formCalendar div.ui-datepicker td a, #formCalendar div.ui-datepicker td span{
    text-align: center;
    font-size: 13px;
}

#formCalendar div.ui-datepicker-header{
    padding: 5px 0;
}

#formCalendar div.ui-datepicker-header select{
    margin-right: 13px;
    width: 150px;
}

#formCalendar .holiday a{
    color: #FF0000;
}

#formCalendar .holiday a{
    color: #FF0000;
}

#form_calendario\:calProject{
    float: left;
}

#form_calendario\:tableHolidayForm{
    margin-top: 30px;
}

#form_calendario\:tableHolidayForm td span.titTableFormCal{
    display: block;
    font-size: 15px;
}

#form_calendario\:tableHolidayForm button{
    float: left;
    margin-left: 11px;
    background-image: linear-gradient(to bottom, #FCD5B4 0%, #FF9981 100%);
    border-color: #FF9981;
    margin-top: 2px;
}

#form_calendario\:tableHolidayForm button span{
    color: #fff;
    font-weight: normal;
    font-size: 13px;
}

#form_calendario\:calProject_inline{
    margin-right: 50px;
}

#workersTable\:j_idt50{
    background: #FCD5B4;
}