#title{
    background: #FDE9D9;
    color: #C00000;
}
#panelbodyHome {
    background: #FCD5B4;
}

#panelmenu li.opchome a{
    background: #FF9981;
    color: #FFF;
}


/***************************************************/
/* openproject
/***************************************************/

#openproject {
    overflow: auto;

}

#openproject h3 {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

#openproject p, #openproject ul {
    border-radius: 3px;
    border: 1px solid #FF9981;   
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 2px #FCD5B4 inset;
    color: #313131; 
    margin: 10px 0;
    padding: 5px;    
    vertical-align: middle;    
}

#openproject #participants {
    float: left;
    width: 410px;   
    margin-right: 10px;
    margin-bottom: 30px;
}

#openproject #participants ul li {
    list-style-type: circle;
    margin: 2px 15px;
}

#openproject #actualIteration {
    float: right;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 30px;    
}

#openproject #actualIteration p {
    font-size: 20pt;
    text-align: center; 
}

#openproject #description {
    clear: both;
    display: block;
    margin-right: 20px;
}


/***************************************************/
/* estilos formularios especificos
/***************************************************/

input, textarea {
    margin: 5px 10px;
    width: 200px;
    vertical-align: middle;     
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #FF9981;   
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 2px #FCD5B4 inset;
    color: #313131;    
}

input.hasDatepicker {
    border: 1px solid #FF9981;   
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 2px #FCD5B4 inset;
    color: #313131;  
}



/***************************************************/
/* confproject
/***************************************************/


#confproject {
    overflow: auto;
    margin: 0 auto;
    width: 500px;
}

#confproject .ui-selectonemenu{
    margin-left: 10px;
}

/***************************************************/
/* createproject
/***************************************************/


#createproject {
    overflow: auto;
    margin: 0 auto;
    width: 500px;
}

/***************************************************/
/* calendarOfProject
/***************************************************/

#infoCalendar{
    overflow: auto;
}

#infoCalendar p{
    float: left;
}

#formCalendar{
    
}

#formCalendar .holiday a{
  color: #FF0000;
}

#calProject{
    display: block;
}


/***************************************************/
/* dataTable: workerTable
/***************************************************/

#form {
    width: 860px;
}

#form td.edit {
    width: 135px;
}
