#title{
    background: #F2DDDC;
    color: #632523;
}
#panelbodyProgress {
    background: #E6B9B8;
}

#panelmenu li.opc3 a{
    background: #E6B9B8;
    color: #FFF;
}

#formInsertDetail\:chooseIteration{
    margin-bottom: 10px;
}

#formInsertDetail\:submitDetailProgress{

    background-image: linear-gradient(to bottom, #F3D5BC 0%, #F79646 100%);
    border-color: #F79646;
    display: block;
    width: 121px;
}

#formInsertDetail\:submitDetailProgress:hover{
    background-image: none;
    background-color: #F3D5BC;
    border-color: #F3D5BC;
}