#title{
    background: #F3D5BC;
    color: #F79646;
}

#panelbodyPhasePlan {
    background: #F79646;
}

#panelmenu li.opc2 a{
    background: #F79646;
    color: #FFF;
}

#formProjectPlan\:tableProjectPlan table{
}

#formProjectPlan\:tableProjectPlan table tr td{
    border:1px solid #F3D5BC;
}

#formProjectPlan\:tableProjectPlan table tr:nth-child(odd){
    background: #F3D5BC;
}

#formProjectPlan\:tableProjectPlan table tr:nth-child(even){
    background: #FFFFFF;
}

#formProjectPlan\:tableProjectPlan table tr:first-child{
    background: #F79646;
}

#formProjectPlan\:tableProjectPlan table tr:first-child td{
    font-size: 16px;
    font-weight: bold;
    padding: 2px 17px 4px;
}

#formProjectPlan\:tableProjectPlan table tr td span.msgTableProjectPlan{
    font-size: 15px;
    padding: 0 16px 0 7px;
}

#formProjectPlan\:tableProjectPlan table tr td input{
    width: 40px;
    margin: 6px 40px;
    width: 40px;
    text-align: center;
}

#formProjectPlan\:tableProjectPlan button, #formProjectPlan\:tableProjectPlan button:active, #formProjectPlan\:tableProjectPlan button:focus{
    background-image: linear-gradient(to bottom, #F3D5BC 0%, #F79646 100%);
    border-color: #F79646;
    display: block;
    float: right;
    font-size: 15px;
    margin-right: 50px;
    margin-top: 15px;
    width: 121px;
}

#formProjectPlan\:tableProjectPlan button:hover{
    background-image: none;
    background-color: #F3D5BC;
    border-color: #F3D5BC;
}