#title{
    background: #F3D5BC;
    color: #F79646;
}

#panelbodyPhasePlan {
    background: #F79646;
}

#panelmenu li.opc2 a{
    background: #F79646;
    color: #FFF;
}

/***************************************************/
/* dataTable: workerTable
/***************************************************/

#form {
    width: 860px;
}

#form td.edit {
    width: 135px;
}