/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-abr-2014, 10:09:10
    Author     : aw0591
*/

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    font-size: 12px;
}

p, li, h2, a{
    color: #404040;
}

#container {
    margin: 0 auto;
    overflow: auto;
    width: 1024px;
    padding: 0px;
    background: #FFF;


    min-height: 100%;
}

#panelheader {
    clear: both;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

#logo {
    float: left;
    height: 85px;
    width: 250px;
}

#pagetitle {
    overflow: auto;
}

#pagetitle h1{
    font-size: 26px;
    text-align: right;
    margin-right: 15px;
    margin-top: 41px;
}

#logout {
    float: right;
    margin-right: 20px;
    margin-top: 2px;
    display: block;
    clear: both;
}

#panelmenu {
    clear: both;
    overflow: auto;
}

#panelmenu ul{
    padding: 0px;
}


#panelmenu li.opcgeneral{
    width: 128px;
    list-style: none;
    float: left;
    text-align: center;
    background: #F2F2F2;
}

#panelmenu li a{
    font-size: 14px;
    color: #A5A5A5;
    text-decoration: none;
    padding: 2px 0;
    width: 128px;
    border-bottom: 3px solid #FF0000;
    display: block;
}

#panelmenu li a:hover{
    color:#ffffff;
    cursor: pointer;
}

#panelmenu li.opcgeneral:hover{
    background: #FF0000;
}

#panelmenu li.opchome a{
    border-bottom-color: #FF0000;
}

#panelmenu li.opc1 a{
    border-bottom-color: #1F497b;
}

#panelmenu li.opc1:hover a{
    background: #1F497D;
}

#panelmenu li.opc2 a{
    border-bottom-color: #F79646;
}

#panelmenu li.opc2:hover a{
    background: #F79646;
}

#panelmenu li.opc3 a{
    border-bottom-color: #C0504D;
}
#panelmenu li.opc3:hover a{
    background: #C0504D;
}
#panelmenu li.opc4 a{
    border-bottom-color: #9BBB59;
}
#panelmenu li.opc4:hover a{
    background: #9BBB59;
}
#panelmenu li.opc5 a{
    border-bottom-color: #8064A2;
}
#panelmenu li.opc5:hover a{
    background: #8064A2;
}
#panelmenu li.opc6 a{
    border-bottom-color: #4BACC6;
}
#panelmenu li.opc6:hover a{
    background: #4BACC6;
}
#panelmenu li.opc7 a{
    border-bottom-color: #4F81BD;
}
#panelmenu li.opc7:hover a{
    background: #4F81BD;
}

#panelbody.general {
    border-top: 3px solid #F2F2F2;
    text-align: center;
    margin: 0 auto;
}

#panelbody.general #body {
    text-align: left;
    width: 100%;    
}

#panelbody.general #body a.btn-success {
    background-image: linear-gradient(to bottom, #FCD5B4 0%, #FF9981 100%);
    border-color: #FF9981;
    float: left;
}

#panelbody.general #body a.btn-success:hover, #panelbody.general #body a.btn-success:focus  {
    background-image: none;
    background-color: #FCD5B4;    
}

#panelbody.general #body h1 {
    padding: 0px;
    margin: 20px 0px;
}

#panelbody.general #createnewproject {
    margin: 12px 5px;
}

#panelbody {
    clear: both;
    overflow: auto;
    background: #FFF;
    min-height: 400px;    
}

#title {
    clear: both;
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 10px;
}

#panelsubmenu {
    clear: both;
    display: block;
    float: left;
    margin: 5px 0;
    width: 128px;
}
#panelsubmenu ul{
    padding: 0px;
}
#panelsubmenu li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#panelsubmenu li.divisorSubMenu{
    border-top: 3px solid #FDE9D9;
    padding-top: 5px;
}

#panelsubmenu li a{
    text-decoration: none;
    margin-left: 15px;
}
#panelsubmenu li a:hover{
    cursor: pointer;
    color: #404040;
    text-decoration: underline;
}

#wrap {
    width: 895px;
    min-height: 500px;
    background: #fff;
    overflow: auto;
    padding-left: 15px;
}

#body h1 {
    margin-bottom: 35px;
}

#subtitle {
    clear: both;
    display: block;
    font-size: 20px;
    margin: 15px 0 10px;              
}

#tabmenu {
    font-size: 14px;
    background: #ffffff;
}

/* Estilos basicos del FOOT
/*********************************************************/

#panelfooter {
    height: 30px; /* Altura del Footer en px*/ 
    clear: both; 
    background: #F2F2F2;
    overflow: auto;
}

#panelfooter p {
    margin-top: 7px;
    color: #000;
    text-align: center;    
}

#panelfooter p.footleft{
    margin-top: 7px;
    float: left;
    text-align: center;
    margin-left: 20px;
}

#panelfooter p.footright{
    float: right;
    margin-right: 20px;
}

#panelfooter p a:hover{
    color: #404040;
}


/* Estilos basicos de los formularios
/*********************************************************/

input, textarea {
    margin: 5px 10px;
    width: 200px;
    vertical-align: middle;     
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #A8A8A8;   
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 2px #8F8F8F inset;
    color: #313131;    
}

input.hasDatepicker {
    margin: 5px 10px;
    width: 200px; 
}

input[disabled="disabled"] {
    background-color: #F2F2F2;
}

input[type=submit].btn-success {
    background-image: linear-gradient(to bottom, #FCD5B4 0%, #FF9981 100%);
    border-color: #FF9981;
}

input[type=submit].btn-success:hover, input[type=submit].btn-success:focus  {
    background-image: none;
    background-color: #FCD5B4;    
}

/***************************************************/
/* dataTable
/***************************************************/

#form div.ui-paginator {
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #FCD5B4;
    border: 1px solid #FF9981;
}

#form thead th, #form span.ui-state-default, #form select.ui-paginator-rpp-options {
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #FDE9D9; 
    border: 1px solid #FF9981;   
}

#form tbody.ui-datatable-data {
    border: 1px solid #FF9981;
}

/*******************************************************/
/*******************************************************/

#createnewproject, #createnewusecase{
    margin: 0;
    overflow: auto;
    display: block;
    width: 460px;
}

#createnewusecase{
    width: 800px;
}


#createnewproject tr, #createnewusecase tr{
    display: block;
    float: left;
}

#createnewusecase .ui-button{ 
    font-size: 12px;
    height: 25px;
    margin-top: 5px;
}

 #submitcreateusecase:hover, #submitcreateusecase:focus{
    background-image: none;
    background-color: #FCD5B4; 
}

#createproject form{
    margin-left: 20px;
}

.btn-success{
    background-image: linear-gradient(to bottom, #FCD5B4 0%, #FF9981 100%);
    border-color: #FF9981;
}

.btn-success:hover, .btn-success:focus{
    background-image: none;
    background-color: #FCD5B4;
}

/* j_idt28 es el id del formulario de crear proyecto
/*********************************************************/

#j_idt28 div{
    border: 1px solid #FCD5B4;
    width: 460px;
    overflow: auto;
    padding: 10px;
}

#j_idt28{
    margin-left: 20px;
}

#j_idt28 div span{
    float: right;
}

#j_idt28 div table{
    float: left;
    clear: none;
}

#createnewproject td span.nameOfTheProject, #createnewusecase td span.nameOfTheProject{
    display: block;
    padding-top: 9px;
}

#j_idt28 .ui-button{
    background-image: linear-gradient(to bottom, #FCD5B4 0%, #FF9981 100%);
    border-color: #FF9981;
    margin-top: 6px;
}
#j_idt28 .ui-button:hover{
    background-image: none;
    background-color: #FCD5B4;
}

#j_idt28 .ui-button span{
    padding: 1px 12px;
}

#useCasesListing, #workerListing{
    margin-top: 20px;
}
#useCasesListing li,#workerListing li{
    list-style: none;
    border-bottom: 1px solid #8DB4E3;
    clear: both;
    overflow: auto;
    border-left: 1px solid #8DB4E3;
}

#useCasesListing li span, #useCasesListing li a, #workerListing li span ,#workerListing li a{
    display: block;
    padding: 3px 0;
    float:left;
}
#useCasesListing li span.nameUseCase{
    width: 250px;
    padding-left: 5px;
}
#useCasesListing li span.descriptionUseCase{
    width: 513px;
}

#workerListing li span.name{
    width: 150px;
    padding-left: 5px;
}

#workerListing li span.surname, span.dni, span.email, span.git{
    width: 150px;    
}

#useCasesListing li button,#workerListing li button {
    text-align: center;
    width: 58px;
    color: #8DB4E3;
    cursor: pointer;
    border: 0px;
    padding: 0;
    margin: 0;
    font-weight: normal;
    background: none;
    font-size: 12px;
    padding-left: 5px;
}
#useCasesListing .modalDialogButton, #workerListing .modalDialogButton{
    text-align: center;
    color: #8DB4E3;
    cursor: pointer;
}
#useCasesListing li button:hover, #workerListing li button:hover{
    background-image: none;
    background-color: #FFF;  
    box-shadow: none;
    text-decoration: underline;
    color: red;
}

li.headerUseCasesListing span, li.headerWorkerListing span{
    font-weight: bold;
    padding-left: 5px;
    display: block;
}

button.btn-succes:hover, button.btn-succes:active, button.btn-succes:focus, button.btn-succes.active, button.ui-state-hover, button.ui-state-hover:hover{
    background-color: linear-gradient(to bottom, #FCD5B4 0%, #FF9981 100%);
    border-color: #FF9981;
}

#formlogin .login {
    border: 1px solid #ED8136;
    margin: 120px auto 0;
    padding: 5px;
    width: 530px;
    padding-bottom: 9px;

}

#formlogin div.ui-widget-header{
    background: #FFFFFF;
    border: 0;
}

#formlogin div.ui-widget-header span{
    font-size: 17px;
}

#formlogin .ui-panel div.ui-panel-content {
    padding: 0px;
}

#formlogin .ui-panel div.ui-panel-content td button{
    background: none repeat scroll 0 0 #136FB4;
    border: 1px solid #136FB4;
    box-shadow: none;
    color: #FFFFFF;
    float: right;
    font-size: 13px;
    margin-right: 25px;
}

#formlogin .ui-panel div.ui-panel-content td button:hover{
    color: #C2C3C5;
}
