#title{
    background: #C5D9F1;
    color: #1F497D;
}
#panelbodyRiskPlan {
    background: #8DB4E3;
}

#panelmenu li.opc1 a{
    background: #8DB4E3;
    color: #FFF;
}

#submitcreateusecase, #createnewusecase input.btn-success, #form_update input.btn-success{
    background-image: linear-gradient(to bottom, #C5D9F1 0%, #8DB4E3 100%);
    border-color: #8DB4E3;
}

#submitcreateusecase:hover, #submitcreateusecase:active, #submitcreateusecase:focus, #createnewusecase input.btn-success:hover, #createnewusecase input.btn-success:active, #createnewusecase input.btn-success:focus{
    background-color: #C5D9F1;
    background-image: linear-gradient(to bottom, #C5D9F1 0%, #C5D9F1 100%);
}
#createnewusecase input, #form_update input{
    width: 190px;
}

#createnewusecase input.btn-success, #form_update input.btn-success{
    font-size: 14px;
    margin-left: 0;
    padding: 3px;
    width: 68px;
}

/* List Risk */

#form\:riskTable{

}

#form\:riskTable_paginator_top, #form\:riskTable_paginator_bottom{
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #8DB4E3 !important;
    border: 1px solid #8DB4E3 !important;
}

#form\:riskTable div.ui-datatable-tablewrapper{
    border: 1px solid #8DB4E3 !important;
}

#form\:riskTable div.ui-datatable-tablewrapper input{
    background:  #FFF !important;
}

#form\:riskTable .ui-state-default{
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #C5D9F1 !important;
    border: 1px solid #C5D9F1 !important;
}